.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.header_optionBasket {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_Nav {
  display: flex;
  justify-content: space-evenly;
}
.header_Option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_link {
  color: white;
  text-decoration: none;
}

.header__search {
  display: flex;
  flex: 1;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
  /* margin-top: 8px; */
}
