.home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.home > .carousel-root > .carousel > .thumbs-wrapper {
  display: none !important;
}

.home > .carousel-root > .carousel > .slider-wrapper > .slider > .slide {
  background: none;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home_image {
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ) !important;
  z-index: -1;
  margin-bottom: -150px;
}
